<div class="row">
    <div class="small-12 columns">
        {{# if hasError }}
            <label class="error">Username
                <small class="error">{{ errors.username }}</small>
                {{input id='username' value=username placeholder="johndoe1234" }}
            </label>
        {{ else }}
            <label >Username
                {{input id='username' value=username placeholder="johndoe1234" }}
            </label>
        {{/if}}

    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{# if hasError }}
            <label class="error">Email Address
                <small class="error">{{ errors.email }}</small>
                {{input id='email' value=email placeholder="johndoe1234@gmail.com" }}
            </label>
        {{ else }}
            <label >Email Address
                {{input id='email' value=email placeholder="johndoe1234@gmail.com" }}
            </label>
        {{/if}}

    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{# if hasError }}
            <label class="error">Password
                <small class="error">{{ errors.password }}</small>
                {{input id='password' type='password' value=password placeholder="At least 6 alphanumberic characters" }}
            </label>
        {{ else }}
            <label>Password
                {{input id='password' type='password' value=password placeholder="At least 6 alphanumberic characters" }}
            </label>
        {{/if}}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{# if hasError }}
            <label class="error">Confirm Password
                <small class="error">{{ errors.confirm_password }}</small>
                {{input id='confirm_password' type='password' value=confirm_password placeholder="Retype your password"}}
            </label>
        {{ else }}
            <label>Confirm Password
                {{input id='confirm_password' type='password' value=confirm_password placeholder="Retype your password"}}
            </label>
        {{/if}}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <label>First Name
            {{input id='first_name' value=first_name}}
        </label>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <label>Last Name
            {{input id='last_name' value=last_name}}
        </label>
    </div>
</div>


<div class="row">
    <div class="small-12 columns">
        <div class="buttons">
            <a href="#"  {{ action 'submitProfileForm'}} class="button round next right">Sign Up</a>
        </div>
    </div>
</div>