<section>
    <div class="row">
        <div class="small-10 small-offset-1 columns">
            <div class="tall-wrapper text-center">
                <h1>Ember Grocery App</h1>

            </div>
            <ul class="stack button-group">
                <li>
                    <p class="subheader text-center">Need an account?</p>
                </li>
                <li>
                    {{#link-to 'registration' class="button round"}}Sign Up!{{/link-to}}
                </li>
            </ul>
            <ul class="stack button-group">
                <li>
                    <p class="subheader text-center">Already have an account?</p>
                </li>
                <li>
                    {{#link-to 'login' class="button info round expand"}}Log In{{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</section>