

<section>
    <div class="row">
        <div class="small-10 small-offset-1 columns">
            <div class="wrapper text-center">
                <h1>Ember App</h1>
            </div>

            {{#each flashMessages.queue as |flash|}}
                {{flash-message flash=flash messageStyle='foundation'}}
            {{/each}}

            <!-- login form -->
            <form>
                <div class="row">
                    <div class="small-12 columns">

                        {{# if hasError }}
                            <label class="error">Username
                                <small class="error">{{ errors.username }}</small>
                                {{input type="text" id='username' placeholder='' value=username}}
                            </label>
                        {{ else }}
                            <label>Username
                                {{input type="text" id='username' placeholder='' value=username}}
                            </label>
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        {{# if hasError }}

                            <label class="error">Password
                                <small class="error">{{ errors.password }}</small>
                                {{input id='password' type='password' value=password}}
                            </label>
                        {{ else }}
                            <label>Password
                                {{input id='password' type='password' value=password}}
                            </label>
                        {{/if}}

                    </div>
                </div>
                <ul class="stack button-group mt">
                    <li>
                        {{#if loading}}
                            <button type="button" class="button round expand">
                                <i class="fa fa-circle-o-notch fa-spin"></i>
                            </button>
                        {{else}}
                            <a href="#" {{ action 'login'}} class="button round expand">Log In</a>
                        {{/if}}

                    </li>
                </ul>
            </form>

        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            {{#link-to 'registration' class="button link small expand"}}
                <span class="subtle">No account yet?</span> Sign up here.
            {{/link-to}}
        </div>
    </div>
</section>