<section>

    <div class="row">
        <div class="small-12 columns">

            <div class="panel">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="text-center mt mb">
                            <h3>New Account</h3>
                            <h6 class="subheader">We need to know a bit about you.</h6>
                        </div>
                    </div>
                </div>



                <!-- Registration form goes here -->
                {{ registration-form
                action="registerUser"
                error=error
                email=model.email
                first_name=model.first_name
                last_name=model.last_name
                }}


            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            {{#link-to 'login' class="button link small expand"}}
                <span class="subtle">Already have an account?</span> Log in here.
            {{/link-to}}
        </div>
    </div>

</section>

